<div class="wm-permissions-root">
<p class="instructions">{{localize "WAYMARKS.Perms.Instructions"}}</p>

<menu class="standard-form scrollable">
  <li class="form-group">
    <label>{{localize "WAYMARKS.Perms.AllPlayers"}}</label>
    <div class="form-fields">
      <select name="default">
        {{selectOptions defaultChoices selected=defaultLevel}}
      </select>
    </div>
  </li>

  {{#each users}}
  <li class="form-group{{#if isGM}} gm{{/if}}">
    <label>
      <span class="waymark-perms-pip" style="background:{{color}}"></span>
      {{name}}
      {{#if isGM}}<i class="role-icon fa-solid fa-crown fa-fw"></i>{{/if}}
    </label>
    <div class="form-fields">
      <select name="{{id}}">
        {{selectOptions ../userChoices selected=level}}
      </select>
    </div>
  </li>
  {{/each}}
</menu>

<footer class="sheet-footer">
  <button type="submit" name="submit">
    <i class="fas fa-save"></i> {{localize "WAYMARKS.Perms.SaveChanges"}}
  </button>
</footer>

</div>
